@font-face {
  font-family: "PT Sans", sans-serif;
  src: url(../fonts/PTSans-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", sans-serif;
  src: url(../fonts/PTSans-400-Italic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", sans-serif;
  src: url(../fonts/PTSans-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans", sans-serif;
  src: url(../fonts/FiraSans-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


body {

  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #293449;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
}

.page-header {
  flex-grow: 1;
  margin: 0 auto;

}

.grey-header {
  padding: 14px 0 13px 3px;
  background: #f3f7f9;
}

.grey {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.name-shop {
  color: #ee3643;
  padding: 0 150px 0 0;
  margin: 0;
  font-style: italic;

}

.header-address {
  color: #32425c;
  padding: 0 32px 0;
  margin: -3px 0 0;



}

.phone {
  text-decoration: none;
  color: #293449;
  font-weight: 700;
  letter-spacing: 0.09em;
  font-size: 17px;
  background-image: url(../images/icon-phone.png);
  background-repeat: no-repeat;
  background-position: 2% 45%;
  padding-left: 27px;
  padding-bottom: -7px;
}


.dark-blue {
  background: #293449;

}

.dark-blue-header {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  margin-bottom: -10px;

  justify-content: stretch;



}

.header-logo {
  position: relative;
  top: 0;
  left: 0;
}

.main-logo {
  background: #ee3643;
  padding: 12px 55px 20px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.search-form {
  width: 720px;
  display: flex;
  margin-bottom: 10px;

}

.search-icon {
  position: relative;
  top: 30%;
  left: 3%;
  width: 20px;
  height: 20px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  border: none;
  color: #ffffff;
  background-color: #293449;
  background-position: 100% 100%;
  align-content: center;
  cursor: pointer;
}

.search-input {
  width: 100%;
  padding: 5px 16px 5px 55px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: 3.4% 50%;
  background-color: #293449;
  border: none;

}

.search-input::placeholder {
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;

}

.search-input:focus {
  background-color: #F1F5F7;
  background-image: url(../images/search-dark.svg);
  background-repeat: no-repeat;
  background-position: 3.4% 50%;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 24px;

}

.search-input:focus::placeholder {
  color: #293449;

}

.sign {
  display: flex;
  width: 330px;
  justify-content: flex-end;
  align-content: center;
  margin-bottom: 10px;
}

.sign-button {
  width: 105px;
  padding: 10px;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #f1f5f7;
  background-color: #293449;
  align-items: center;
  background-image: url(../images/sign-in.svg);
  background-repeat: no-repeat;
  background-color: none;
  background-position: 0 45%;
  border: none;
  cursor: pointer;
  margin-right: -23px;

}



.modal-close {
  display: none;
}

.modal {
  width: 360px;
  position: absolute;
  background-color: #ffffff;
  padding: 16px 30px 35px;
  top: 57px;
  right: 470px;
  border-radius: 2px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.modal-title {
  width: 240px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

}

.login-pass {
  font-size: 16px;
  line-height: 24px;
  color: #c5c5c5;
  padding: 6px 15px;
  border: 1px solid #c5c5c5;
  border-radius: 2px;
  width: 300px;
  margin-bottom: -7px;

}

.login-pass:hover {
  border-color: #63A63E;
}

.login-pass:focus {
  outline: 1px solid #FFBF47;
  color: #293449;
}

.login-pass:invalid {
  border-color: #EE3643;
}

.login-pass:disabled {
  background-color: #f1f5f7;
  color: #000000;
  border-color: #c5c5c5;
  opacity: 0.5;
}


.forgot-password {
  list-style-type: none;
  text-decoration-line: none;
  color: #000000;
  margin-left: 20px;

}


.auth-register-button {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.button-auth {

  align-items: center;
  background-color: #63a63e;
  border-radius: 2px;
  border: none;
  padding: 11px 25px 11px 44px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-image: url(../images/login.svg);
  background-repeat: no-repeat;
  background-image: 15px 14px;
  background-position: 17% 50%;
  cursor: pointer;
}

.button-auth:hover {
  background-color: #5FBB2D;
}

.button-auth:focus {
  background-color: #518534;
}

.button-register {
  font-weight: 700;
  letter-spacing: 0.1em;
  align-items: center;
  color: #32425C;
  text-transform: uppercase;
  border: 2px solid #63A63E;
  border-radius: 2px;
  list-style-type: none;
  text-decoration-line: none;
  padding: 7px 15px;
  margin-left: 5px;
}

.button-register:hover {
  border-color: #3d546f;
}

.button-register:focus {
  border-color: #c5c5c5;
  color: #c5c5c5;
}

.exit {
  padding: 7px 42px;
  margin-left: 0;
}


.auth-on {
  margin-top: -20px;

  list-style-type: none;
  padding: 0;

}



.order-info {
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #3d546f;
  text-transform: uppercase;
  text-decoration-line: none;

}

.account-info {
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #3d546f;
  text-transform: uppercase;
  text-decoration-line: none;


}

.auth-on li {
  padding-bottom: 24px;
}




.blue-header-nav {
  background-color: #3d546f;


}

.header-nav {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  align-content: center;

}

.main-menu {
  width: 800px;
  display: flex;
  list-style-type: none;
  margin: 19px 0 0 -22px;
  padding: 0 0 26px;


}


.menu {
  padding: 21px 26px 26px;
  line-height: 24px;
  background-color: #3d546f;
  color: #ffffff;
  text-decoration: none;
  padding-right: 24px;
  font-size: 16px;

}





.menu:hover,
.bookmark:hover,
.cart:hover {
  background-color: #32425c;
  color: #c5c5c5;
}

.menu:active {
  background-color: #32425c;
  color: #ffffff;


}


.bookmark-cart {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 122px;
  align-content: center;
  margin-top: 21px;
}

.bookmark {

  background: url(../images/bookmark.svg) no-repeat;
  background-size: 16px 18px;
  background-position: center center;
  padding: 21px 20px 26px;
  background-color: #3d546f;
  text-decoration: none;

}

.cart {
  background: url(../images/cart.svg) no-repeat;
  background-size: 18px;
  background-position: center center;
  padding: 21px 20px 26px;
  background-color: #3d546f;


}

.make-order {
  display: flex;
  align-items: center;
  background-color: #63a63e;
  border-radius: 4px;
  border: none;
  padding: 12px 12px;
  margin: 13px 0 14px 18px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.make-order:hover,
.email-button:hover {
  background-color: #5FBB2D;
}

.make-order:focus,
.email-button:focus {
  background-color: #518534;
}


.main-page {
  flex-grow: 1;
  margin: 0 auto;


}

.category-item {

  display: grid;
  width: 1170px;
  margin: 0 auto;
  margin-top: 52px;
  padding: 0;
  gap: 28px 28px;
  grid-template-areas:
    "A A A A   B B B B   C C C C"
    "D D D D   D D D D   E E E E"
    "D D D D   D D D D   F F F F";
  justify-items: start;

}

.new-label {
  position: relative;
  bottom: 627px;
  left: 300px;
  background: url(../images/label-new.svg) no-repeat;
  padding: 40px;

}


.materials {

  grid-area: A;
  background-color: #ffbf47;
  padding: 20px 37px 30px 25px;
  border-radius: 2px;

}


.category-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;

}

.img-materials {
  background: url(../images/icon-paints.svg) no-repeat;
  padding: 44px;
  margin-left: 220px;
  margin-top: -5px;
}



.catalog-button {
  width: 180px;
  position: relative;
  bottom: 14px;
  text-decoration: none;
  color: #ffffff;
  background-image: url(../images/arrow-right.svg);
  background-position: 8% 50%;
  background-repeat: no-repeat;
  background-size: 16px;
  border: 1px solid #ffffff;
  padding: 10px 15px 10px 33px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-weight: 700;


}

.catalog-button:hover {
  background-color: rgba(255, 0, 135, 0.15);
}

.catalog-button:focus {
  background-color: rgba(255, 0, 135, 0.4);
}


.tools {
  grid-area: B;
  background-color: #3bbce3;
  padding: 20px 37px 30px 25px;
  border-radius: 2px;

}

.tools a {
  padding-right: 19px;
}

.img-tools {
  background: url(../images/icon-tools.svg) no-repeat;
  padding: 44px;
  margin-left: 220px;
  margin-top: -5px;
}

.technic {
  grid-area: C;
  background-color: #dc91db;
  padding: 20px 37px 30px 25px;
  border-radius: 2px;

}

.technic a {
  padding-right: 33px;
}

.img-technic {
  background: url(../images/icon-equipment.svg) no-repeat;
  padding: 44px;
  margin-left: 220px;
  margin-top: -5px;

}

.catalog {
  grid-area: D;
  background-color: #777474;
  border-radius: 2px;


}

.sales {
  grid-area: E;
  background-color: #8ed78f;
  padding: 20px 37px 0 25px;
  border-radius: 2px;
}

.img-sales {
  background: url(../images/icon-sale.svg) no-repeat;
  width: 90px;
  height: 90px;
  margin-left: 220px;
  margin-top: -5px;
}

.sales a {
  padding-right: 10px;

}


.delivery {
  grid-area: F;
  background-color: #ffbf47;
  padding: 20px 37px 0 25px;
  border-radius: 2px;
}

.img-delivery {
  background: url(../images/icon-delivery.svg) no-repeat;
  width: 90px;
  height: 90px;
  margin-left: 220px;
  margin-top: -5px;
}

.delivery a {
  padding-right: 52px;
}


.catalog-slider {
  grid-area: D;
  background-image: url(../images/slide-1.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  padding: 53px 0 42px 51px;
  background-color: #293449;


}

.next-slide {
  display: none;
  grid-area: D;
  width: 720px;
  background-image: url(../images/slide-2.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 100%;
  padding: 53px 0 42px 51px;
  background-color: #293449;


}

.catalog-name {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;
  padding-right: 610px;

}

.catalog-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 168px;
}

.pink-button {
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  font-size: 14px;
  padding: 14px 18px;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  cursor: pointer;

}

.pink-button:hover,
.button-show-more:hover,
.about-company-button:hover {
  background-color: #ca2c37;
  cursor: pointer;

}

.pink-button:focus,
.button-show-more:focus,
.about-company-button:focus {
  background-color: #ba2732;
}


.pagination {
  display: flex;
  position: relative;
  bottom: -18px;
  left: 315px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.circle-active {

  background-color: #ffffff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-right: 8px;

}

.circle-passive {
  background-color: #ffd180;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-right: 8px;

}

.circle-active:hover,
.circle-passive:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.slider-control {
  position: absolute;
  margin-left: -30px;
  top: 65.7%;
  width: 38.5%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider-button {
  width: 50px;
  height: 50px;
  background-color: rgba(41, 52, 73, 0.6);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-image: url(../images/arrow-slider.svg);
  background-position: center;
  background-repeat: no-repeat;

}

.slider-button:hover {
  background-color: rgba(41, 52, 73, 0.8);
}

.slider-button:focus {
  background-color: rgba(41, 52, 73, 0.4);
}

.slider-next {
  transform: rotate(180deg);
}


.catalog-products {
  width: 1170px;
  margin: -90px auto 0;

}


.main-title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 42px;

}


.sorting-product {
  display: flex;

}

.sorting {
  width: 245px;
  margin-right: 40px;
  margin-left: -12px;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  margin-top: -4px;
}

.filter-price {
  display: flex;
  width: 220px;
  flex-wrap: wrap;
  align-content: center;
  background-image: url(../images/background-price.jpg);
  background-repeat: no-repeat;
  background-size: 220px 40px;
  padding: 10px 20px;
  margin-top: 4px;

}

.filter-button-price {
  background-color: #ffffff;
  background-size: 14px;
  padding: 10px;
  border-radius: 50%;
  outline: 2px solid #3d546f;
  outline-offset: -2px;
  background-position: 50% 50%;

}

.filter-button-price:hover {
  background-color: #518534;

}

.filter-button-price:active {
  background-color: #5FBB2D;
}



.filter-price-line {
  width: 100px;
  border-top: 2px solid #5FBB2D;
  margin-top: 10px;
}

.filter-price-line-max {

  width: 40px;
  border-top: 2px solid #3d546f;
  margin-top: 10px;

}

.range-price {
  display: flex;
  width: 100%;
  padding-bottom: 30px;
  justify-content: flex-start;

}


.price-min-max {
  margin-top: 7px;
  background-color: #f7f3ec;
  width: 75px;
  border-radius: 2px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;

}






.price-line {
  margin: 0;
  text-align: center;
  padding: 18px 10px;
  font-weight: 700;


}

.catalog-filter-title {
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;

}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;

}

.catalog-filter-item {
  color: #000000;
  padding-bottom: 10px;


}

.control-input {
  margin-bottom: 14px;
  margin-right: 20px;
}





.filter-button {
  border: 2px solid #3D546F;
  color: #32425C;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: #ffffff;
  padding: 11px 40px;
  width: 220px;
  margin-top: 21px;
  margin-left: 10px;
}

.filter-button:hover {
  border-color: #63a63e;
}

.filter-button:focus {
  border-color: #c5c5c5;
  color: #c5c5c5;


}



.select-control {
  width: 280px;
  margin-top: 32px;
  margin-left: 25px;
  font-size: 16px;
  line-height: 24px;
  padding: 9px 12px 10px;
  background: #FFFFFF;
  border: 1px solid #3D546F;
  border-radius: 2px;

}

.select-control:hover {
  border: 1px solid #63A63E;
}

.select-control:focus {
  outline: 1px solid #FFBF47;
  filter: drop-shadow(0 8px 20px rgba(0, 0, 0, 0.15));
  border-radius: 2px;
}


.product-list {
  display: grid;
  width: 870px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 28px 28px;
  list-style-type: none;
  margin-top: 31px;
  margin-left: -15px;

}

.product-card {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 2px;
  padding: 26px 25px 25px 25px;
}

.new-product {
  position: relative;
  top: 13px;
  left: 215px;
  background: url(../images/label-new.svg) no-repeat;
  padding: 40px;
  margin: -40px;
}


.product-card:hover {
  filter: drop-shadow(0 8px 20px rgba(0, 0, 0, 0.15));

}

.product-card-image:hover {
  opacity: 0.2;
}





.product-card-link {
  color: #293449;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  width: 230px;



}

.product-card-title {
  margin: 0;
  padding: 0;
  margin-top: 9px;
}

.product-price-old {
  font-weight: 700;
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 2px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: #A9A9A9;
  margin-top: 14px;
}

.product-price-old-none {
  font-weight: 700;
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 2px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 14px;
}



.product-price-button {
  width: 80px;
  display: flex;
  margin: 9px 0 0 40px;
  font-weight: 700;
  justify-content: center;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  color: #FFFFFF;
  padding: 10px 20px 10px 25px;
  background: #ee3643;
  border: none;
  position: relative;
  border-radius: 4px;
}

.product-price-button:after {
  position: absolute;
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  border-radius: 4px;

}

.product-price-button:after {
  border-left-color: #ee3643;
  border-width: 20px;
  margin-top: -20px;
  margin-left: -2px;
  border-radius: 4px;
}


.product-price-button:hover {
  background-color: #CA2C37;
}

.product-price-button:hover:after {
  border-left-color: #CA2C37;
}

.product-price-button:focus {
  background-color: #BA2732;
}

.product-price-button:focus:after {
  border-left-color: #BA2732;
}



.pagination-list {
  display: flex;
  margin: 30px 0 53px -10px;

  justify-content: center;
}



.pagination-product-list {
  list-style-type: none;
  display: flex;
}

.pagination-link {
  text-decoration: none;
  background-color: #3d546f;
  border-radius: 2px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  padding: 13px 20px;
  margin-right: 8px;
}

.pagination-link-active {
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 2px;
  color: #3d546f;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  padding: 13px 20px;
  margin-right: 11px;
}

.pagination-link:hover {
  background-color: #32425C;
  color: #c5c5c5;
}

.pagination-link:focus {
  color: #ffffff;
}


.button-show-more {
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  padding: 15px 42px;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 10px;
  align-self: flex-start;
  margin-top: -2px;

}



.serviсes-container {
  background-image: url(../images/service.jpg);
  background-position: center;
  padding: 51px 115px;
  background-color: #f4f8f8;


}

.main-title-center {
  width: 1170px;
  margin: 0 auto;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  padding: 0;
}

.service-description {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  width: 556px;
  margin: 30px auto 65px;
  padding: 0;



}


.serviсes {
  width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 370px 370px 370px;
  gap: 30px;

}

.service-name {
  margin-top: 46px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding: 0;
  text-transform: uppercase;
}

.service-text {
  font-size: 16px;
  line-height: 24px;
  width: 300px;
  color: #000000;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: -1px;
}

.services-delivery,
.services-garanty,
.services-credit {
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 31px 44px 44px 24px;

}

.img-technic-red {
  background: url(../images/icon-delivery-red.svg) no-repeat;
  width: 90px;
  height: 90px;
}

.img-garanty-red {
  background: url(../images/icon-sale-red.svg) no-repeat;
  width: 90px;
  height: 90px;
}

.img-credit-red {
  background: url(../images/icon-paints-red.svg) no-repeat;
  width: 90px;
  height: 90px;
}

.about-company {
  width: 1170px;
  margin: 25px auto 22px;
  display: grid;
  grid-template-columns: 549px 500px;
  gap: 120px;
}

.about-company-text {
  font-size: 16px;
  line-height: 24px;
  width: 500px;
  margin-top: -8px;
  padding-bottom: 0;
  margin-bottom: 35px;
}


.contact-text {
  font-size: 16px;
  line-height: 24px;
  width: 500px;
  padding-bottom: 0;
  margin-bottom: 28px;
  margin-top: -8px;

}

.about-company-button {
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  font-size: 14px;
  padding: 14px 43px;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 15px;
}

.contacts img {
  margin-bottom: 27px;

}


.index-footer {
  background-color: #32425c;
  padding: 0;



}

.main-footer {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo-footer {
  background-color: #ee3643;
  padding: 14px 57px 19px 57px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.footer-address {
  color: #f3f7f9;
  width: 330px;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
}

.social {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.social-icon {
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 32px;
  padding: 6px;
  border-radius: 50%;
  margin: 8px 2px 33px;
  cursor: pointer;
}

.social-icon:hover {
  background-color: #293449;
}



.feedback {
  color: #f3f7f9;
  width: 280px;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  margin-top: 29px;
}

.mailto {
  color: #ffd180;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  cursor: pointer;

}

.mailto:hover,
.academy:hover {
  color: #ffbf47;
}

.feedback-form {
  color: #f3f7f9;
  width: 260px;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  margin: 30px 0 0 20px;
  padding: 0;

}

.email-form {
  display: flex;

}

.email {
  border: 1px solid #63A63E;
  border-radius: 2px;
  color: #bdbdbd;
  padding: 11px 18px;
  width: 180px;
  margin: 2px 0 0 20px;
}


.email:hover {
  border-color: #5FBB2D;
}

.email:focus {
  outline: none;
  color: #293449;
}



.email-button {
  background-color: #63a63e;
  background-image: url(../images/cart-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  padding: 18px;
  border: none;
  width: 40px;
  height: 40px;
  margin-top: 2px;
  cursor: pointer;

}

.bottom-footer {
  background-color: #293449;

}

.bottom {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.copyright {
  padding: 17px 0 20px;
  color: #ffffff;
  margin: 0;

}

.htmlacademy {
  color: #ffffff;
  margin: 0;

  padding: 17px 0 22px;
}

.academy {
  text-decoration: none;
  color: #ffd180;

}
