@font-face {
  font-family: "PT Sans", sans-serif;
  src: url(../fonts/PTSans-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", sans-serif;
  src: url(../fonts/PTSans-400-Italic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", sans-serif;
  src: url(../fonts/PTSans-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans", sans-serif;
  src: url(../fonts/FiraSans-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


body {

  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #293449;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
}

.page-header {
  flex-grow: 1;
  margin: 0 auto;

}

.grey-header {
  padding: 14px 0 13px 3px;
  background: #f3f7f9;
}

.grey {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.name-shop {
  color: #ee3643;
  padding: 0 150px 0 0;
  margin: 0;
  font-style: italic;

}

.header-address {
  color: #32425c;
  padding: 0 32px 0;
  margin: 0;



}

.phone {
  text-decoration: none;
  color: #293449;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 17px;
}

.icon-phone {
  padding-right: 8px;
  float: left;

}



.dark-blue {
  background: #293449;

}

.dark-blue-header {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  margin-bottom: -9px;
}

.header-logo {
  position: relative;
  top: 0;
  left: 0;
}

.main-logo {
  background: #ee3643;
  padding: 12px 55px 20px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.search {

  background: url(../images/search.svg) no-repeat;
  background-size: 20px;
  background-position: center;
  padding-left: 65px;
  margin-top: -8px;
  color: #ffffff;



}

.sign {
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #f1f5f7;
  padding: 15px 0;
  justify-content: flex-end;
  align-items: center;



}

.sign-in {
  padding-right: 10px;
  text-align: center;
  justify-content: flex-end;

}


.blue-header-nav {
  background-color: #3d546f;


}

.header-nav {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}



.menu {
  padding: 21px 26px 24px 26px;
  line-height: 24px;
  background-color: #3d546f;
  color: #ffffff;
  text-decoration: none;
  margin-left: 0;
  font-size: 16px;
}


.menu:nth-child(1) {
  margin-left: -22px;
}

.menu:nth-child(3) {
  margin-left: -2px;
}

.menu:nth-child(5) {
  margin-left: -5px;
}

.menu:nth-child(6) {
  margin-left: -5px;
}

.menu:nth-child(7) {
  margin-left: -2px;
}

.menu:hover {
  background-color: #32425c;
  color: #c5c5c5;
}

.menu:active {
  background-color: #32425c;
  font-weight: 700;
  font-size: 15.7px
}


.bookmark {
  background: url(../images/bookmark.svg) no-repeat;
  background-size: 16px 18px;
  background-position: center;
  margin-left: 90px;
  padding: 10px;


}

.cart {
  background: url(../images/cart.svg) no-repeat;
  background-size: 18px;
  background-position: center;
  padding: 10px;
  margin-left: 23px;

}

.make-order {
  display: flex;
  align-items: center;
  background-color: #63a63e;
  border-radius: 4px;
  border: none;
  padding: 12px 10px;
  margin: 12px 0 16px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-left: 26px;
}

.main-page {
  flex-grow: 1;
  margin: 0 auto;


}

.category-item {

  display: grid;
  width: 1170px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
  gap: 27px 30px;
  grid-template-areas:
    "A A A A   B B B B   C C C C"
    "D D D D   D D D D   E E E E"
    "D D D D   D D D D   F F F F";
  justify-items: start;

}

.new-label {
  position: relative;
  bottom: 626px;
  left: 300px;
  background: url(../images/label-new.svg) no-repeat;
  padding: 40px;

}


.materials {

  grid-area: A;
  background-color: #ffbf47;
  padding: 20px 37px 30px 25px;
  border-radius: 2px;

}


.category-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;

}

.img-materials {
  background: url(../images/icon-paints.svg) no-repeat;
  padding: 44px;
  margin-left: 220px;
  margin-top: -5px;
}



.catalog-button {
  width: 180px;
  position: relative;
  bottom: 14px;
  text-decoration: none;
  color: #ffffff;
  background-image: url(../images/arrow-right.svg);
  background-position: 8% 50%;
  background-repeat: no-repeat;
  background-size: 16px;
  border: 1px solid #ffffff;
  padding: 10px 15px 10px 33px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-weight: 700;


}


.tools {
  grid-area: B;
  background-color: #3bbce3;
  padding: 20px 37px 30px 25px;
  border-radius: 2px;

}

.tools a {
  padding-right: 19px;
}

.img-tools {
  background: url(../images/icon-tools.svg) no-repeat;
  padding: 44px;
  margin-left: 220px;
  margin-top: -5px;
}

.technic {
  grid-area: C;
  background-color: #dc91db;
  padding: 20px 37px 30px 25px;
  border-radius: 2px;

}

.technic a {
  padding-right: 33px;
}

.img-technic {
  background: url(../images/icon-equipment.svg) no-repeat;
  padding: 44px;
  margin-left: 220px;
  margin-top: -5px;

}

.catalog {
  grid-area: D;
  background-color: #777474;
  border-radius: 2px;


}

.sales {
  grid-area: E;
  background-color: #8ed78f;
  padding: 20px 37px 0 25px;
  border-radius: 2px;
}

.img-sales {
  background: url(../images/icon-sale.svg) no-repeat;
  width: 90px;
  height: 90px;
  margin-left: 220px;
  margin-top: -5px;
}

.sales a {
  padding-right: 10px;

}


.delivery {
  grid-area: F;
  background-color: #ffbf47;
  padding: 20px 37px 0 25px;
  border-radius: 2px;
}

.img-delivery {
  background: url(../images/icon-delivery.svg) no-repeat;
  width: 90px;
  height: 90px;
  margin-left: 220px;
  margin-top: -5px;
}

.delivery a {
  padding-right: 52px;
}


.catalog {
  grid-area: D;
  background-image: url(../images/slide-1.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 770px;
  padding: 53px 0 42px 51px;
  align-items: stretch;

}

.catalog-name {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;
  padding-right: 610px;

}

.catalog-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 168px;
}

.pink-button {
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  font-size: 14px;
  padding: 14px 18px;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  cursor: pointer;

}

.pink-button:hover {
  background-color: #ca2c37;
  cursor: pointer;

}

.pink-button:focus {
  background-color: #ba2732;
}


.pagination {
  display: flex;
  position: relative;
  bottom: -18px;
  left: 315px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.circle-active {

  background-color: #ffffff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-right: 8px;

}

.circle-passive {
  background-color: #ffd180;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-right: 8px;

}

.circle-active:hover,
.circle-passive:hover {
  background-color: #ffffff;
  cursor: pointer;
}


.catalog-products {
  width: 1170px;
  margin: -82px auto 0;

}


.main-title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 42px;

}


.sorting-product {
  display: flex;

}

.sorting {
  width: 245px;
  margin-right: 53px;
}

.select-control {
  width: 280px;
  margin-top: 38px;
  margin-left: 40px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  background: #FFFFFF;
  border: 1px solid #3D546F;
  border-radius: 2px;

}


.product-list {
  display: grid;
  width: 870px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 28px;
  list-style-type: none;
  margin-top: 31px;
}

.product-card {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 2px;
  padding: 27px 27px 25px 27px;
}


.product-card-link {
  color: #293449;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  width: 230px;


}

.product-card-title {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.product-price-old {
  font-weight: 700;
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 2px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: #A9A9A9;
  margin-top: 10px;
}

.product-price-old-none {
  font-weight: 700;
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 2px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 10px;
}

.product-price-button {
  width: 140px;
  margin: 12px auto 0;
  font-weight: 700;
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  color: #FFFFFF;
  padding: 11px 20px;
  background-image: url(../images/red-button-price.svg);
  background-size: 140px 40px;
  background-position: center;
  background-repeat: no-repeat;


}


.pagination {
  list-style-type: none;
  display: flex;
}

.pagination-link {
  text-decoration: none;
  background-color: #3d546f;
  border-radius: 2px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  padding: 14px 20px;
  margin-right: 8px;
}


.serviсes-container {
  background-image: url(../images/service.jpg);
  background-position: center;
  padding: 52px 115px;
  background-color: #f4f8f8;


}

.main-title-center {
  width: 1170px;
  margin: 0 auto;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  padding: 0;
}

.service-description {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  width: 556px;
  margin: 30px auto 65px;
  padding: 0;



}


.serviсes {
  width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 370px 370px 370px;
  gap: 30px;

}

.service-name {
  margin-top: 46px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding: 0;
  text-transform: uppercase;
}

.service-text {
  font-size: 16px;
  line-height: 24px;
  width: 300px;
  color: #000000;
  padding-bottom: 0;
  margin-bottom: 0;
}

.services-delivery,
.services-garanty,
.services-credit {
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 31px 44px 67px 24px;

}

.img-technic-red {
  background: url(../images/icon-delivery-red.svg) no-repeat;
  width: 90px;
  height: 90px;
}

.img-garanty-red {
  background: url(../images/icon-sale-red.svg) no-repeat;
  width: 90px;
  height: 90px;
}

.img-credit-red {
  background: url(../images/icon-paints-red.svg) no-repeat;
  width: 90px;
  height: 90px;
}

.about-company {
  width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 549px 500px;
  gap: 120px;
}

.about-company-text {
  font-size: 16px;
  line-height: 24px;
  width: 500px;
  padding-bottom: 0;
  margin-bottom: 52px;
}


.contact-text {
  font-size: 16px;
  line-height: 24px;
  width: 500px;
  padding-bottom: 0;
  margin-bottom: 28px;

}

.contacts img {
  margin-bottom: 52px;

}


.index-footer {
  background-color: #32425c;
  padding: 0;



}

.main-footer {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo-footer {
  background-color: #ee3643;
  padding: 14px 57px 19px 57px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.footer-address {
  color: #f3f7f9;
  width: 330px;
  font-size: 16px;
  line-height: 24px;
}

.social {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.social-icon {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 50%;
  margin-right: 3px;
  margin-top: 21px;
  margin: 21px 3px 33px;
  cursor: pointer;
}

.social-icon:hover {
  background-color: #293449;
}



.feedback {
  color: #f3f7f9;
  width: 260px;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  margin-top: 29px;
}

.mailto {
  color: #ffd180;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  cursor: pointer;

}

.mailto:hover,
.academy:hover {
  color: #ffbf47;
}

.feedback-form {
  color: #f3f7f9;
  width: 260px;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  margin: 0;
  padding: 0;
}

.email-form {
  display: flex;

}

.email {
  border: 1px solid #63A63E;
  border-radius: 2px;
  color: #bdbdbd;
  padding: 11px 16px;
  width: 182px;
  margin-top: 2px;
}

.email-button {
  background-color: #63a63e;
  background-image: url(../images/cart-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  padding: 22px;
  border: none;
  width: 40px;
  height: 40px;
  margin-top: 2px;
  cursor: pointer;

}

.bottom-footer {
  background-color: #293449;

}

.bottom {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.copyright {
  padding: 20px 0 22px;
  color: #ffffff;
  margin: 0;

}

.htmlacademy {
  color: #ffffff;
  margin: 0;

  padding: 20px 0 22px;
}

.academy {
  text-decoration: none;
  color: #ffd180;

}
